.homePage {
  margin-top: 7rem; /* adjust based on header height */
  padding: 1.5rem;
}
img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h2 {
  margin-top: 2rem;
}
p {
  margin-top: 1rem;
}