* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter', sans-serif;
  background-color: #0a1a2f;
}

header {
  background-color: #0f2748;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  a {
    margin-left: 2rem;
    font-weight: 500;
  }
}