@keyframes slideUp {
  from {
    opacity: 0;
    transform: translate(-50%, 100%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
}

.popup-cookies {
  position: fixed;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3001;
  width: fit-content;
  animation: slideUp 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;

  .content {
    background: rgba(6, 6, 6, .6);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 0;
    padding: 16px 24px;
    box-shadow: none;
    display: flex;
    align-items: center;
    gap: 24px;
    width: fit-content;
    flex-wrap: nowrap;

    p {
      margin: 0;
      font-size: 16px;
      color: #ffffff;
      font-weight: 400;
      white-space: nowrap;
    }

    .link {
      cursor: pointer;
      font-size: 16px;
      color: #ffffff;
      text-decoration-line: underline;
      text-decoration-style: dotted;
      text-decoration-color: #98ED66;
      white-space: nowrap;
      text-underline-offset: 8px;
      font-weight: 400;
      &.active {
        color: #ffffff;
      }

      &:hover {
        opacity: 0.8;
      }

      @supports not (text-decoration-style: dotted) {
  .link {
    border-bottom: 1px dotted #98ED66;
    text-decoration: none;
  }
}
    }
  }
}